@use 'sass:list';
@use '../../partials/variables' as vars;
@use '../../partials/mixins' as mixins;
@use '../item-placeholders';

#{vars.$system-name} {
  &__armor-sheet {
    // @extend %sheet;
    display: grid;
    grid-template-rows: 3rem 3rem minmax(0, 1fr);
    max-height: 100%;
    container-type: inline-size;
    container-name: armor-sheet;

    @container armor-sheet (max-width: 2770px) {
      .armor-sheet {
        &__details {
          height: 100%;

          &--layout {
            display: grid;
            grid-template-columns: 1fr .75fr .75fr;
            grid-template-rows: 4rem 4rem 4rem 1fr;
            height: 100%;
          }

          .item-details {
            &__name {
              grid-column: 2 / 4;
            }

            &__image {
              grid-row: 1 / 4;
              border: 0;
              border-radius: 0;
            }

            &__graphic {
              height: 100%;
              object-fit: contain;
            }

            &__description {
              grid-column: 1 / 4;

              .field-box {
                height: calc(100% - var(--box-spacing));
              }
            }
          }
        }
        &__locations {
          height: 100%;

          &--layout {
            display: grid;
            grid-template-columns: 1fr 0.85fr;
            grid-template-rows: minmax(0, 1fr);
            height: 100%;
          }
        }
      }
      .locations{
        &__mannequin {
          @extend %mannequin;

          display: flex;
          justify-content: space-evenly;

          .mannequin__graphic {
            flex: 0 1 auto;
          }
        }
        &__details {
          &-list{
            height: 100%;
            list-style: none;
            overflow-y: scroll;
            margin: 0;
            padding: 0;
          }
          &-location {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 4rem 4rem;

            .field-box {
              grid-row: 2;
              &:nth-child(2) {
                grid-row: 1;
              }
              &:first-child {
                grid-column: 1 / 3;
                grid-row: 1;
              }
            }
            .field-button--wrapper {
              display: flex;
              margin: 2px;

              .cp2020-button {
                flex: 1;
              }
            }
          }
        }
      }
    }
    @container armor-sheet (max-width: 460px) {
      .armor-sheet {
        &__details {

          &--layout {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: minmax(0, 1.1fr) 4rem 4rem 1fr;
          }
          .item-details {
            &__name {
              grid-column: 1 / 3;
            }

            &__image {
              grid-column: 1 / 4;
              grid-row: 1;
            }
          }
        }
        &__locations {
          &--layout {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr minmax(0, 1fr);
          }
        }
      }
    }
  }

  // @each $location in vars.$locations {
  //   @for $level from 1 through 10 {
  //     .#{$location} ##{$location}.level-#{$level} {
  //       @include mixins.covered($level);
  //     }
  //   }
  // }


}
