@use '../../item-placeholders' as *;
@use '../../../partials/placeholders' as *;
@use '../../../partials/variables' as vars;

%flex-line {
  display: flex;
  flex-wrap: nowrap;
}

.skill-item {
  &__wrapper {
    padding: 0.2rem 0.4rem 0.1rem 1.5rem;
    position: relative;
    &::before {
      content: '';
      border-right: 1px solid vars.$color-text-light-7;
      border-top: 1px solid vars.$color-text-light-7;
      display: block;
      height: .5rem;
      left: .3rem;
      position: absolute;
      top: 0.9rem;
      transform: rotate(45deg);
      transition: transform 0.3s ease-out;
      width: .5rem;
    }
    &:open::before{
      transform:rotate(135deg);
    }
  }
  &__summary {
    @extend %flex-line;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    position: relative;
    right: 1.5rem;
    width: calc(100% + 1.5rem);
  }
  &__name {
    align-items: center;
    color: vars.$color-text-light-3;
    display: flex;
    flex: 1;
    font-size: 1.2rem;

    > * {
      margin-left: 0.4rem;
    }
  }
  &__summary-stats {
    @extend %flex-line;
    align-items: center;
    flex: 0 1 auto;

    & > * {
      margin-left: 0.4rem;
    }
  }
  &__description {
    font-size: 1rem;
    line-height: 1.3
    margin-bottom 1.3rem;
  }
  &__detail-stats {
    @extend %flex-line;
    align-items: center;
    gap: 0.2rem;
    justify-content: flex-end;
    margin: 0.5rem 0 1rem;

    & > * {
      margin-left: 0.4rem;
      max-width: 5rem;
    }
  }
  &__actions {
    @extend %flex-line;
    justify-content: end;
    padding-top: 0.5rem;
    > * {
      margin-left: 0.3rem;
    }
  }
  &__level {
    color: vars.$color-text-light-3;
    font-size: 1.4rem;

    &--total {
      font-size: 1.1rem;
      color: vars.$color-text-light-7;
    }
  }
  &__level-up-value {
    color: vars.$color-text-light-3;
    display: block;
    font-size: 1.1rem;
  }
  &__chipped {
    align-items: anchor-center;
    display: flex;
    justify-content: space-between;
    width: 5.6rem;
  }
  &__chipped-icon {
    height: 2rem;
    width: 2rem;
    fill: vars.$color-text-light-7;
  }
}