@use '../../../partials/variables' as vars;

#{vars.$system-name} {

  [data-tab="combat"] {
    container-type: inline-size;
    container-name: combat;
  }

  .edgerunner-sheet__combat-grid {
    display: grid;
    grid-gap: 0.4rem;
  }

  @container combat (max-width: 2770px) {
    .edgerunner-sheet {
      &__combat-grid {
        grid-template-columns: minmax(8rem, 10rem) minmax(12rem, 15rem) 1fr;
        grid-template-rows: 1fr 1fr;

        .edgerunner-sheet__stats {
          grid-column: 1;
          grid-row: 1 / 3;
        }
        .item-list__weapons {
          grid-column: 2 / 4;
          grid-row: 2;
        }
      }
    }
  }
  @container combat (max-width: 770px) {
    .edgerunner-sheet {
        &__combat-grid {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
        }
      }
  }
}
