@use 'variables' as vars;
@use 'placeholders' as *;

#{vars.$system-name} {
  input[type='text'],
  input[type='number'],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  input[type="search"],
  select,
  textarea {
    @extend %input;
  }

  textarea {
    font-family: vars.$font-primary;
    font-size: vars.$font-size-14;
  }

  select {
    option {
      background-color: vars.$color-bg;
      &[selected] {
        background-color: vars.$color-level-10-transparent;
      }
    }
    &[multiple] {
      width: 100%;
      margin-bottom: 0.3rem;
    }
  }

  .prosemirror {
    overflow: visible;
    font-family: vars.$font-small;
    menu {
      button{
        @extend %crt-hover;
        @extend %inverted-color;
        background-color: transparent;

        &:hover {
          color: vars.$color-text-light-0;
        }

        &.active {
          background-color: transparent;
          color: vars.$color-shadow-primary;

          &:hover {
            color: vars.$color-text-hyperlink;
          }
        }
      }

      .pm-dropdown {
        @extend %input;
        color: vars.$color-text-light-7;
        padding-left: 0.5em;

        ul {
          @extend %background;
          border-color: vars.$color-field-border;
        }

        li:hover,
        li:focus {
          background-color: vars.$color-field-bg-focus;
        }

        &:hover,
        &:focus {
          color: vars.$color-text-hyperlink;
          i {
              color: vars.$color-shadow-primary;
            }
        }
      }

    }
    // for some reason this is absolutely positioned in a flex element preventing it from growing
    .editor-container .editor-content {
      position: relative;
      color: vars.$color-text-light-0;
    }
  }

  .field-box {
    @extend %box;
    background-color: vars.$color-field-bg;

    &:hover,
    &:focus-within {
      background-color: vars.$color-field-bg-focus;
    }

    &--inner {
      @extend %inner-box;
      label > small {
        font-family: vars.$font-small;
        letter-spacing: 0.2em;
        display: block;
        color: vars.$color-text-light-7;
      }
    }
  }
}