@use 'variables' as vars;

@mixin progress-bar($color) {
  appearance: none;
  -webkit-appearance: none;
  height: 0.6rem;

  &::-webkit-progress-inner-element {
    border: 0;
    border-left: 2px solid vars.$color-field-border;
    border-bottom: 2px solid vars.$color-field-border;
    padding: 2px;
  }
  &::-webkit-progress-bar {
    background-color: transparent;
  }
  &::-moz-progress-bar {
    background-image: repeating-linear-gradient(-30deg, vars.$color-bg, vars.$color-bg 1px, transparent 1px, transparent 2px);
    background-color: $color;
  }
  &::-webkit-progress-value {
    background-image: repeating-linear-gradient(-30deg, vars.$color-bg, vars.$color-bg 1px, transparent 1px, transparent 2px);
    // use color here
    background-color: $color;
  }

  @content;
}

@mixin die-variations($selector) {

  #{$selector}--solid {
    &::after {
      content: 'J'
    }

    &--save {
      &::after {
        content: 'A'
      }
    }
  }

  #{$selector}--save {
    &::after {
      content: 'a'
    }
  }
}